<a href="https://colab.research.google.com/github/myskillz2000/AlgorithmExamples/blob/main/RPM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create two columns.  
## First column we will be halving.  
## The second column will be doubled.

In [1]:
import pandas as pd
import math

# Create the input for the two different numbers
n1 = input("Our first number ")
n2 = input("Our second number ")

Our first number 45
Our second number 21

In [13]:
n1 = int(n1)
n2 = int(n2)


halving = [n1]
while(min(halving) > 1):
  halving.append(math.floor(min(halving)/2))

doubling = [n2]
while(len(doubling) < len(halving)):
  doubling.append(max(doubling) * 2)

halving, doubling

([45, 22, 11, 5, 2, 1], [21, 42, 84, 168, 336, 672])

In [16]:
from pandas._libs import index
# create the dataframe to display halves and doubles

half_double = pd.DataFrame(zip(halving,doubling))
half_double

    0    1
0  45   21
1  22   42
2  11   84
3   5  168
4   2  336
5   1  672

In [20]:
half_double = half_double.loc[half_double[0]%2 == 1,:]
half_double

    0    1
0  45   21
2  11   84
3   5  168
5   1  672

In [21]:
answer = sum(half_double.loc[:,1])
answer

945